body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:#fafafa;

  }

  main {
    flex: 1 0 auto;
  }


.center-text {
text-align:center;
}

.themes {
background-color:#232b2b;
}


[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  opacity: 1;
  position: relative;
  margin:10px;
  pointer-events: auto;

}